<!DOCTYPE HTML>
<html>
	<head>
		<title>MAK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Projects</a></li>
							<li><a href="#two">My Toolbox</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Mustafa Ali Khan</h1>
							<h2>Tech Innovator. Problem Solver. Innovation Enthusiast.</h2>
							<p>MAK, fueled by Chai & Big Ideas, is all about real-world impact. From life-saving apps to complex algorithms, I craft smart, scalable tech that changes the game. </p>
							<p>As a Fellow at Xartup and a Computer Science Engineering student at Jamia Hamdard, I tackle cutting-edge challenges with sleek, efficient solutions. My vision? To build tech that wows and makes life cooler—one line of code at a time.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="static/images/SnakePV.gif" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Anaconda's Cradle</h2>
									<p>Anaconda's Cradle is a modern reimagining of the iconic 90s Snake game, developed using Python. The game is designed with a retro, pixelated visual style, evoking nostalgia for the classic mobile and arcade game. It features smooth controls, dynamic gameplay, and customizable difficulty levels. </p>
									<ul class="actions">
										<li><a href="https://github.com/MustafAli-Khan/Anacondas_Cradle" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="static/images/Pwd.png" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Password Manager</h2>
									<p>The Password Manager is a Python-based application designed to securely store and manage website credentials, such as email addresses and passwords, using an GUI. With a focus on simplicity and security, this tool enables users to save and retrieve login information for various websites, helping them avoid the hassle of memorizing multiple credentials.</p>
									<ul class="actions">
										<li><a href="https://github.com/MustafAli-Khan/Password_Manager" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="static/images/Rems.png" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Rapid EMS</h2>
									<p>Rapid EMS is a web application built using HTML, CSS, JavaScript, and the TomTom API, designed to reduce ambulance response times. The platform ensures faster routes to crisis scenes with real-time navigation and integrates ML to optimize routes over time.</p>
									<ul class="actions">
										<li><a href="https://devfolio.co/projects/rapid-ems-e1db" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>My toolbox</h2>
							<p>With practical coding skills and sharp problem-solving instincts, I’m ready for any challenge. From building apps in Python and Java to fine-tuning algorithms and optimizing systems, I focus on clean, scalable solutions. Whether it’s frontend design, backend architecture, or data deep dives, I take a hands-on approach to turn ideas into reality.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Tech Stack</h3>
									<ul>
										<li>Git & Github</li>
										<li>Python</li>
										<li>Java</li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Aliquam sed nullam</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Sed erat ullam corper</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Front End</h3>
									<ul>
										<li>HTML5</li>
										<li>CSS3</li>
										<li>JavaScript</li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Urna quis bibendum</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Have an idea, a question, or just want to connect? Send me a message—whether it’s to brainstorm, collaborate, or chat over some chai, I’m here and ready to make things happen.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">mustafa.ali.khan0909@gmail.com</a>
										</li>

										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://x.com/MustafAliKhan" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="https://github.com/MustafAli-Khan" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/mustaf_alikhan/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/mustafali-khan/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; MAK. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>